/* background-color: */
$_background_dark: #08090A;
$_background_secondary: #1D2838;
$_background_transparent: transparent;
$_background_primary_gradient: linear-gradient(180deg, #2A7BF6 0%, #0D58C8 100%);
$_background_primary: #2878F2;
$_background_secondary_gradient: linear-gradient(175.87deg, #08090A -22.64%, #0A0E13 102.87%);
$_background_dark_gradient: linear-gradient(118.78deg, #1A2332 0%, #111822 105.03%);
$_background_white: #ffffff;
$_card_dark_gradient: radial-gradient(105.85% 105.85% at 50.19% -2.51%, #1C2737 0%, #10151E 100%);
$_icon_dark_gradient: linear-gradient(180deg, #1B2535 0%, #10161F 100%);
$_card_priamry_color: rgba(255, 255, 255, 0.05);
$_slider_gradient: linear-gradient(118.62deg, #1A2333 0%, #111721 101.95%);
$_defult_slider: linear-gradient(110.51deg, rgba(14, 19, 27, 0.5) -2.2%, #070A0E 98.96%);
$_backgroud_dark_secondary: #1E1F24;
$_background_color_light_secondary: #3A3B42;
$_background_color_light_primary: rgba(255, 255, 255, 0.2);


/* color css */
$_color_gray: rgba(216, 223, 233, 0.8);
$_color_white: #ffffff;
$_color_primary: #2878F2;
$_color_transparent: transparent;
$_color_light_black: #616D7E;
$_color_green: #7CAC0F;
$_color_dark: #393d44;
$_color_light_white:  rgba(255, 255, 255, 0.8);


/* border radius */
$_border_radius: 14px;